DEBUG=True
ALLOWED_HOSTS='https://api.example.com,0.0.0.0'
CSRF_TRUSTED_ORIGINS="https://api.example.com,https://apistage.example.com,http://0.0.0.0"
CORS_ALLOWED_ORIGINS="https://api.example.com,https://apistage.example.com,http://0.0.0.0"
